**/__pycache__/
**/*.pyc
.env
.vscode/
.DS_Store
logs/
.idea/
*.log
__pycache__/
token.pickle
*.7z
*.zip
notification_excel/
current_inventory
vevn
venv
*.ipynb
reports/
mail_cfg.py
website_list_test.json
current_inventory/
removed_logs/